{% extends 'base.html.twig' %}

{% block title %}Admin{{parent()}}
{% endblock %}

{% block body %}
	<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="dashboard">
		<h1 class="w3-wide">TABLEAU DE BORD</h1>

		<button class="w3-button w3-black w3-margin-bottom">Créer un Produit</button>
		<button class="w3-button w3-black w3-margin-bottom">Créer une Catégorie</button>
		<button class="w3-button w3-black w3-margin-bottom">Créer un Tag</button>

		<h3 class="w3-wide w3-border-white w3-white">Liste des Produits</h3>

		<ul class="w3-ul w3-border-white w3-white">
			{% for produit in produits %}
				<li class="w3-padding">{{ produit.name }}
					<a href="#">
						<button class="w3-button w3-yellow w3-margin-bottom">Modifier</button>
					</a>
					<a href="#">
						<button class="w3-button w3-red w3-margin-bottom">Supprimer</button>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
